.container{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: rgb(212, 218, 245);
}


.head{
  background: -webkit-linear-gradient(45deg, #09009f, #06eb2c 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
  text-shadow:  0.3em 0.3em 0.5em #1a19194d ;
}

.form {
  padding: 15px;
}

.form_control {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.form_control label{
  font-weight: 500;
  margin-bottom: 5px;
}

.form_control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.button{
  background-color: rgb(68, 85, 233);
  padding: 10px;
  font-size: 16px;
  border: 2px solid  rgb(142, 152, 241);
  border-radius: 30px;
  color: white;
  transition: 300ms;
  box-shadow: 0.3em 0.3em 0.5em #1a19194d;
}

.button:hover{
  background-color:green;
  color: white;
  border: 2px solid rgb(68, 233, 68);
}


/* background hover navbar*/

#bg{
  border-radius: 10px;
  transition: 200ms;
}


#bg:hover{
  background-color: rgb(238, 233, 233);
  border-radius: 10px;
}

